.app {
    height: calc(100% - 177px);
    display: flex;
    flex-direction: column;
}
.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.footer {
    height: 40px;
    background-color: #F00;
}

.right {
    height: 100%;
    width: 80px;
}
.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}